# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# PHP (Composer)
vendor/
composer.phar
.composer/
input.json
output.txt

# Greenter / SUNAT
greenter-bridge/archivos_sunat/
# greenter-bridge/*.pem  <-- Comentado para subir el certificado de prueba
greenter-bridge/*.pfx
greenter-bridge/generate_cert.php
greenter-bridge/test_sunat_payload.json

# Database
database/*.sql.bak

# Local docs / tooling
greenter-docs/

# IDEs
.vs/
.vscode/
.idea/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
